h1 {
  text-align: center;
}

ul { 
  list-style-type: none;
  margin: auto;
  width: 50%;
  padding: 10px;
}

li { padding: 5px; }

.tmb {
  width: 30px;
  margin: 5px;
}

.male { 
  background-color: lightblue; 
}

.female { 
  background-color: pink; 
}